mason/target/
contrib/geomason/target/
*.class
*.aux
*.idx
*.log
*.out
*.toc
*.DS_Store
*.project
*.classpath
*.settings
# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
